<section class="aircraft-view">
    <div class="actions">
        <a mat-raised-button [routerLink]="['/aircraft', id, 'edit']">
            <mat-icon>edit_document</mat-icon>
            Edit Aircraft
        </a>
    </div>
    <header class="aircraft-header">
        <h1 class="serial-number">{{ aircraft.serialNumber }}</h1>
        <span class="registration-date">Registered on 
            <time [attr.datetime]="aircraft.registrationDate">
                {{ aircraft.registrationDate | date }}
            </time>
        </span>
    </header>
    <h2>Registration Status</h2>
    <mat-chip-set class="registration-status" aria-label="Registration Status">
        <mat-chip color="accent" highlighted>{{ aircraft.registrationStatus }}</mat-chip>
    </mat-chip-set>
    <h2>Model Name</h2>
    {{ aircraft.modelName }}
</section>