<mat-toolbar>
    <a mat-raised-button [routerLink]="['/aircraft']">
        <mat-icon>arrow_back</mat-icon>
        Back to List
    </a>
    <span class="toolbar-spacer"></span>
    <span>New Aircraft</span>
    <span class="toolbar-spacer"></span>
    <div class="toolbar-actions">
        <button [disabled]="!form.valid" mat-raised-button color="primary" [attr.form]="form.name">
            <mat-icon>save</mat-icon>
            Save Aircraft
        </button>
    </div>
</mat-toolbar>
<app-aircraft-form #form (submit)="addAircraft($event)"></app-aircraft-form>
